<style>
.nav-link{
	cursor: pointer;
}
</style>
	<h1 class="h1" style="margin-bottom: 40px;text-align: center;color: aliceblue">Hospitality</h1>
	<div class="card card-nav-tabs card-plain">
    <div class="card-header card-header-info">
        <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                        <a class="nav-link active" ng-click="navigatetotab('guideline')" data-toggle="tab">Guidelines</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ng-click="navigatetotab('reachingcampus')" data-toggle="tab">Reaching Campus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ng-click="navigatetotab('faqs')" data-toggle="tab">FAQ's</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" ng-click="navigatetotab('contacts')" data-toggle="tab">CONTACTS</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div><div class="card-body" style="color: white;">
        <div class="tab-content text-center">
            <div class="tab-pane active" id="guideline" style="padding:50px;">
                <ol style="text-align: left;font-weight:500;font-size:20px;">
                	<li>Accommodation will be provided from 8nd March 2019 00:00 hrs to 10th March 2019 23:59 hrs only.  </li><br>
                	<li>Participants have to pay the accommodation fee through our website along with the registration fee</li><br>
                	<li>A fee of Rs.300 per person per day is charged for the room (provided on a sharing basis), mattress, pillow along with their covers, bucket and mug if booked online. Some of the rooms are large enough to accommodate around 20 people so even if you are attending in groups, we can allot all of you in the same room if available. <br><br>
                	Rs.350 will be charged per day for on spot booking of the room or increasing the no. of stay days.</li><br>
                	<li>A refundable cautionary deposit of Rs.200 will be collected from everyone who choose for <br>accommodation.   </li><br>
                	<li>Participants should vacate the allotted room and handover the items safely on the night of 10th March 2019 itself. We will not provide accommodation till 11th March 2019 morning</li><br>
                	<li>Even if you are attending in groups, each one of you should register individually and we will try our level best to accommodate all of you in the same common room if possible.   </li><br>
                	<li>Alcohols, Drugs and explosives of any kind are strictly prohibited inside the campus. Any item deemed unsafe will be prohibited.  </li><br>
                	<li>Kindly keep an eye on your belongings. The participants are suggested not to bring any valuables. CEA team or IIT Madras will not be responsible in case of any mishaps.</li><br>
                	<li>Participants are requested to bring their own locks preferably with multiple keys (3 or 4).</li><br>
                	<li>Accommodation fee will be charged based on 12 am to 12 am system. Not on 24hrs basis.</li><br>
                	<li>Accommodation fee is for providing rooms only. Food is not included.</li><br>
                	<li>The reporting location for getting the rooms allotted is the Control room and the exact location of the control room will be shared later</li><br>

                </ol>
            </div>
            <div class="tab-pane" id="reachingcampus" style="text-align: left;padding: 50px;">
                <div>
                	<h3>1.How to reach the campus?</h3>
                	<ul></ul>
                		<li>From Chennai central railway station;<br>Route map:<a target="tab" href="https://goo.gl/maps/H5YMn9Nne782 ">link</a></li>
                		<li>From Chennai international airport;<br>Route map:<a target="tab" href="https://goo.gl/maps/L2anpmWUY3w">link</a></li>
                	</ul><br><br>
                	<h4>The IITM campus:</h4>
                	<ol>
                		<li>IITM is 12 kilometres from Chennai Central Railway Station.    </li>
                		<li>Landmarks: Guindy Snake Park and Adyar Cancer Institute are adjacent to the IIT Madras Main Gate</li>
                		<li>IITM is opposite to Central Leather Research Institute campus    </li>
                		<li>IITM is near and opposite to Anna University   </li>
                	</ol><br><br>
                	
                	
                	<p>
                		<h4><b>A.FROM CHENNAI CENTRAL RAILWAYSTATION:</b></h4>
                		<p>1.Local train: If you do not have heavy luggage, the MRTS Station called "Park Town" on the Beach-Velachery line, opposite to Chennai-Central station, is a good option. From there, you can take a train to Kasturba Nagar (Adyar) (which comes after the kotturpuram station) and reach for Madhya Kailash temple and then walk towards west on Sardar Patel Road to campus main gate. From the gate there are IITM buses to the hostels, every 20 minutes.</p>
                		<p>2.You can catch a bus just outside the Chennai Central. 18B and 5C are the direct buses to IITM (Get down at Gandhi Mandapam/IITM). From the gate there are IITM buses to the hostels, every 20 minutes.</p>
                		<p>3.Hire an auto/taxi to IIT Madras. You can catch institute buses from the IIT Madras main gate to control room. The fare will be roughly Rs.250-300 for a Taxi and Rs.200-250 for an Auto. </p>
                	</p><br><br>

                    <p>
                        <h4><b>B.FROM EGMORE STATION:</b></h4>
                        <p>1. Catch 23C bus which heads directly to IITM. From the main gate there are IITM buses to the hostels, every 20 minutes </p>
                        <p>2. Local Train: Participants arriving at Egmore station can board a local train to "Chennai Fort" station (the second stop). At Chennai Fort station please change trains and board a train on the Beach-Velachery line and get down at "Kasturba Nagar Station". The main gate of the campus is at walking distance from the station. </p>
                        <p>3. The auto and taxi fares from Egmore are approximately Rs.200 and Rs.250-300 respectively.   </p>
                    </p><br><br>

                    <p>
                        <h4><b>C.FROM AIRPORT:</b></h4>
                        <p>1. Hire an auto/taxi to IIT Madras. </p>
                        <p>2. Bus: Catch PP21 directly to institute or 21G to Gandhi Mandapam which is near to the main gate. From the main gate there are IITM buses to the hostels, every 20 minutes.  </p>

                    </p><br><br>

                    <p>
                        <h4><b>D.FROM CMBT:</b></h4>
                        <p>1. You can catch bus number 23M or 5E which will drop you off near to the Institute main gate.  </p>
                        <p>2. You can also hire an auto/taxi for a fare of around Rs.250/300 respectively. From the main gate there are IITM buses to the hostels, every 20 minutes.    </p>
                    </p>
                	
                </div>
            </div>

           <!--  faqs -->

            <div class="tab-pane" id="faqs" style="text-align: left;padding: 50px;">
                <h3>Where to report in the campus?</h3>
                <p>
                	<ul>
                		<li>For accommodation, you need to report to the control room (location of this will be shared later)</li>
                		<li>All the events/workshops of the CEA Fest’19 will happen in and around the Department of Civil Engineering. <a href="https://goo.gl/maps/wSVxdTZ7qCJ2 ">location</a></li>
                	</ul>
                </p>
                <h3>Where to eat in campus? </h3>
                <p>
                	<ul>
                		<li><a target="tab"  href="https://goo.gl/maps/wSVxdTZ7qCJ2 ">CEA Fest stalls</a></li>
                		<li><a target="tab" href="https://goo.gl/maps/xjz1oXiRv6y">Gurunath Patisserie</a></li>
                		<li><a target="tab" href="https://goo.gl/maps/XzHwqdxLfT52 ">Zaitoon Restaurant</a></li>
                		<li><a target="tab" href="https://goo.gl/maps/dat5xznoD492">Suprabha canteen</a></li>
                		<li><a target="tab" href="https://goo.gl/maps/EUYxwjgVK5M2">Campus café</a></li>
                		<li><a target="tab" href=" https://goo.gl/maps/zNUcMRkBzN72">Cafe Coffee Day</a></li>
                	</ul>
                </p>

                <h3>Places to visit in and around IIT Madras?</h3>
                <p>
                    <ul>
                        <li><a  target="tab" href="https://goo.gl/maps/QMkoVxBcTVS2">Gajendra circle</a></li>
                        <li><a  target="tab" href="https://goo.gl/maps/qwaWrwvS3TU2  ">Phoenix mall</a></li>
                        <li><a  target="tab" href="https://goo.gl/maps/9d9y6sYxqMH2 ">Heritage centre of IITM</a></li>
                        <li><a  target="tab" href="•https://goo.gl/maps/vafx14FsoUC2">Besant Nagar beach</a></li>
                        <li><a  target="tab" href="•https://goo.gl/maps/7BwCpMxWziu">Marina beach</a></li>    

                    </ul>
                </p>
                <h3>When can I enter the IITM campus?</h3>
                <p>The Institute main gate will be open at all times. You may enter and depart from the campus at all times. But please make sure to carry your college ID cards for the purpose of security check at the main gate.</p>

                <h3>What should I bring with me?</h3>
                <p>
                    <ul>
                        <li>It is mandatory for all participants to carry college IDs and have a Xerox copy of them. </li>
                        <li>•If your accommodation is confirmed, you are required to bring a hard copy of the payment receipt.</li>
                        <li>•You are required to carry some caution deposit (preferably cash) which will be refunded if all materials returned undamaged.</li>
                    </ul>
                </p>

                <h3>Is there any internal transport keeping in mind the huge area of the campus?</h3>
                <p>Internal transportation is available inside the campus in the form of buses that are available at various bus stops located throughout the campus </p>

                <h3>How is accommodation provided? </h3>
                <p>
                    Accommodation to outstation participants will be provided if they have applied for accommodation on the CEA website and their accommodation has been approved by us. The rooms will be allotted on a sharing basis due to space constraints. We will be providing essential commodities like mattresses and pillows. 
                </p>

                <h3>I have registered only for one day, but I am willing to take accommodation for the next day also. What should I do?</h3>
                <p>We won’t be allowing as per rules. But if there is urgency in the case, Rs.350 will be charged per day for on spot booking of the room or increasing the no. of stay days.   </p>
            </div>

            <!-- Contacts -->
            <div class="tab-pane" id="contacts">
            	<p><h3><b><i class="material-icons">mail_outline</i>  ceaoutreach@gmail.com
				</h3><b></p>								

               <p>
               	<h3>S Sai Bhargava</h3>
               	<h3><i class="material-icons">
					perm_phone_msg
					</i>  8096159615  </h3>
               </p>
<br><br><br>
               <p>
               	<h3>S Sreedevi</h3>
               	<h3><i class="material-icons">
					perm_phone_msg
					</i>  9500188432</h3>
               </p>
            </div>
            
        </div>
    </div>
  </div>
