<html>

<head>
<style>
    
</style>
<base href="/2019/ceawebsite/">
<style>
    
    .no-js #loader { display: none;  }
    .js #loader { display: block; position: absolute; left: 100px; top: 0; }
    .se-pre-con {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url(cea.gif) center no-repeat #fff;
    }
</style>

<title>

    CEA FEST 2019 || IIT MADRAS
</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
  <meta name="viewport" content="width=device-width, initial-scale=0.6">
<script src="./assets/js/jquery.loadingModal.js"></script>
<link href="./assets/css/jquery.loadingModal.min.css"  rel="stylesheet">
<script src="js/imagesloaded.pkgd.min.js"></script>
<!-- <link rel="icon" href=""> -->

<link rel="stylesheet" type="text/css" href="css/base.css" />
<link rel="stylesheet" type="text/css" href="css/loader.css" />

<link rel="stylesheet" type="text/css" href="css/contact.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/fullpage.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="assets/css/material-kit.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.7.5/angular-sanitize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-route.min.js"></script>

<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
<link href="perspecnavbar.css" rel="stylesheet">
<link href="css/normalize.css" rel="stylesheet">
<script src="js/modernizr.custom.25376.js"></script>
<script src="js/charming.min.js"></script>
        
<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>


<!-- <script src="js/demo.js"></script> -->
<script >

    function pageisloaded(){
        console.log("page is loaded")
        var p = document.getElementById("perspective")
        p = angular.element(p)
        p.css({
            "display":"block"
        })
     p = document.getElementById("loadergif")
        p = angular.element(p)
        p.css({
            "display":"none",
            "z-index":0
        })
        
    }
    // localStorage.setItem("start",true)
    
var t = new Date()

var xhr = new XMLHttpRequest();
xhr.open("POST", "checkuser.php", true);
xhr.setRequestHeader('Content-Type', 'application/json');
xhr.send(JSON.stringify({
    value: 'value'
}));
// var proceedfurther=false
xhr.onload = function() {
    var data = JSON.parse(this.responseText);
    console.log(data)
    if(data.start==0){
        console.log(window.location.pathname)
        if(window.location.pathname=="/2019/ceawebsite/"){
            window.location.pathname="/2019/ceawebsite/home"
        }
    }
  if(data.status==1){
    // proceedfurther=true
    localStorage.setItem("loggedin","true")
    console.log(localStorage.getItem("loggedin"))
  }else{
    localStorage.setItem("loggedin","false")
    console.log(localStorage.getItem("loggedin"))
    if(window.location.pathname=="/2019/ceawebsite/profile"){
    window.location.pathname="2019/ceawebsite/login"
  }
}
}


    var b = angular.element(document.getElementById("perspective"))
    if(!b.hasClass("animate")){
        var n = document.getElementById("n")
        n = angular.element(n)
        n.css({
            "display":"none"
        })
    }


    function shownav() {
        // body...
        console.log("menu")
          var n = document.getElementById("n")
        n = angular.element(n)
        n.css({
            "display":"block"
        })  
    }
  
     function hidenav(){
        console.log("p")
        var n = document.getElementById("n")
        n = angular.element(n)
        n.css({
            "display":"none"
        })
     }
 //var wind = window
 //wind = angular.element(wind)
 //console.log(wind)
 $(window).on("load",function(){
     var ic = document.getElementsByClassName("se-pre-con")
     ic=angular.element(ic)
     ic.fadeOut("slow")
 }) 
</script>
<script src="index.js?v=450"></script>
<script>
    console.log(t.toDateString())
</script>
<style>
      
@import url('https://fonts.googleapis.com/css?family=Lato');
</style>
</head>

<body   style="font-family: 'Lato', sans-serif; min-height: 100%;background-color: #3b3f45"   ng-app="ceawebsite">
    <div id="perspective" class="perspective effect-rotateleft">
        <div class="containerr" onclick="hidenav()">
            <img  src="ceamenu.svg" id="showMenu"  style="width:50px;cursor: pointer; height:50px;position:fixed;right:25px;top:25px;z-index:1000;background-color:white;border-radius:7px;opacity:0.6;border-color:black"/>
            <div  class="wrapper" ng-view>
        
            </div>
        
        </div>
        <nav id="n" class="outer-nav right vertical" ng-controller="navbar">
            <a style="cursor:pointer;font-weight:1000" onclick="window.location.href='/2019/ceawebsite'" ><i class="fas fa-home"></i> HOME</a>
            <a style="cursor:pointer;font-weight:1000" onclick="window.location.href='/2019/ceawebsite/event'" ><i class="far fa-calendar-alt"></i> EVENTS</a>
            <a style="cursor:pointer;font-weight:1000" onclick="window.location.href='/2019/ceawebsite/projects'" ><i class="fas fa-project-diagram"></i> PROJECT DEMONSTRATION</a>
            <a style="cursor:pointer;font-weight:1000" onclick="window.location.href='/2019/ceawebsite/workshops'" ><img style="width:51px;height:51px;padding: 0;" src="img/workshop.svg">WORKSHOPS</a>
            <a style="cursor:pointer;font-weight:1000" onclick="window.location.href='/2019/ceawebsite/accommodation'" ><img style="width:51px;height:51px;padding: 0;" src="img/accommodation.svg">ACCOMMODATION</a>
            <a style="cursor:pointer;font-weight:1000" onclick="window.location.href='/2019/ceawebsite/research'" ><img style="width:51px;height:51px;padding: 0;" src="img/research.svg">RESEARCH EXPO</a>
            <a style="cursor:pointer;font-weight:1000" onclick="window.location.href='/2019/ceawebsite/spons'" ><i class="fas fa-handshake"></i> SPONSORS</a>
            <a style="cursor:pointer;font-weight:1000" onclick="window.location.href='/2019/ceawebsite/contactus'" ><i class="fas fa-phone"></i> CONTACT US</a>
            <a style="cursor:pointer;font-weight:1000"  ng-click="goto(gotoname)"><i class="fas fa-user"></i> {{gotoname}}</a>
            <a style="cursor:pointer;font-weight:1000" id="log"  ng-click="logout()"><i class="fas fa-user"></i> {{out}}</a>
            
            <!-- <a style="cursor:pointer" ng-if="!loggedin" onclick="window.location.href='/2019/ceawebsite/login'" >LOGIN</a> -->
        </nav>
        
    </div>

    <!-- <div class="modal fade" id="preloader" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                
           
                   
                            <img  style="background-color:transparent;border:transparent" src="cea.gif" />
                       
                      
                    
                </div>
            </div> -->
    
    

<!-- 
<div >

    

</div> -->
<!-- <script src="assets/js/core/jquery.min.js" type="text/javascript"></script> -->
<!-- <div  id="loadergif"  style="position:absolute;align-content:center;top:0;width:100%;height:100%;text-align:center;display:block">

    <img src="cea.gif">

</div> -->
<div class="se-pre-con">

</div>
<script src="js/TweenMax.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/menu.js"></script>
<script src="js/fullpage.js"></script>
<script src="./assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="./assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="./assets/js/plugins/moment.min.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="./assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="./assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<script src="js/demo.js"></script>
<script src="js/jquery.lettering.js"></script>
<script src="js/contact.js"></script>

<!--  Google Maps Plugin  -->
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="./assets/js/material-kit.js?v=2.0.5" type="text/javascript"></script>

<script >
     var n = document.getElementById("n")
        n = angular.element(n)
        n.css({
            "display":"none"
        })
var m = document.getElementById("showMenu")
    m = angular.element(m)
    m.on("click touchstart",function(){
        console.log("menu")
        var n = document.getElementById("n")
        n = angular.element(n)
        n.css({
            "display":"block"
        })    
    })
    var doc = document
    doc = angular.element(doc)
    
    doc.ready(function() {
        setTimeout(function(){
            var es  = document.getElementsByClassName("starter")
    // console.log(es)
    // setInterval(function(){
    //           console.log(es)  
    //         },2000)
    es=angular.element(es)
            
        es.lettering('words').children("span").lettering().children("span").lettering(); 
        var en = document.getElementById("end")
    console.log(en)
    en=angular.element(en)
    console.log("after")
            en.on("animationend webkitAnimationEnd oAnimationEnd",function(){
                localStorage.setItem("start",false)
                window.location.pathname="/2019/ceawebsite/home"
            })
    },500)
        
            })
    
</script>
		<script>
       /*         var wra = document.getElementsByClassName("wrapper")
    var doc = window
    doc = angular.element(doc)
                wra = angular.element(wra)
            wra.on("load",function(){
                console.log("started")
                var p = document.getElementById("loadergif")
        p = angular.element(p)
        p.css({
            "display":"none"
        }) 
            })
        doc.on("load",function(){
            console.log("fire")
            var p = document.getElementById("loadergif")
    p = angular.element(p)
    p.css({
        "display":"none"
    })
    p = document.getElementById("perspective")
        p = angular.element(p)
        p.css({
            "display":"block"
        })
})    */

        </script>
</body>

</html>
